.movie-list-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; 
  }
  